body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: blueviolet;
  }
  
  .quote {
    text-align: center;
    margin-top: 20px;
  }
  
  #searchContainer {
    text-align: center;
    margin-top: 20px;
  }
  
  #searchInput {
    padding: 8px;
    font-size: 16px;
  }
  
  #mealContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .meal {
    width: 300px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .meal img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .recipe {
    display: none; /* hide recipe container */
  }
  
  #placeholderContent {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    margin-top: 20px; 
  }
  
  /* Style for recipe container */
  #recipeContainer {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  #recipeContainer h2 {
    margin-bottom: 10px;
  }
  
  #recipeContainer p {
    line-height: 1.5;
  }
  
  /* Style for button */
  button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  
  /* Modal overlay/pop effect */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  /* Modal content */
  .modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:aqua;
    padding: 20px;
    border-radius: 5px;
    z-index: 10000;
  }
  
  .modal-content h2 {
    margin-bottom: 10px;
  }
  
  .modal-content p {
    line-height: 1.5;
  }
  
  .modal-content button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .modal-content button:hover {
    background-color: #0056b3;
  }
  
  @media only screen and (max-width: 600px) {
    body {
        background-color: yellow;
    }
  }